services:
  redis:
    image: redis:8.4-alpine
    container_name: penjualan-keramik-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - penjualan_keramik_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  penjualan_keramik_redis_data:
  # ollama:
